@import url('../yejin/common.css');

body {
    margin-left: 15%;
    /* background: #000; */
    margin-bottom: 30%;
    height: 3000px;
}
/* header */
.menu {
    padding: 20px;
    /* position: fixed; */
    /* background: orange; */
}
.menu .title {
   /* background: orange; */
   width: 300px; 
   font-size: 30px;
}
.menu .menulist li{
    position: relative;
    left: 300px;
    bottom: 20px;
    padding-left: 20px;
    /* background: red; */
    display: inline-block;
    font-weight: 700;
}
.menu .menulist li:nth-child(3) {
  position: relative;
  top: 20px;
}
.menu .menulist .hover-on {
  background: white;
  line-height: 30px;
  width: 160px;
  /* padding-left: 40px; */
  padding: 15px 15px 15px 25px;
  color: white;
  position: relative;
  top: 20px;
  right: 15px;
  border-radius: 30px;
  display: block;
}
.menu .menulist .hover-on:hover {
  display:block;
  background: #000;
  color: white;
}

.menu .icon {
    float: right;
    /* background: blue; */
}
.menu .icon div {
    margin: 10px;
    bottom: 60px;
    float: left;
    position: relative;
}
/* header end */

/* nav */
.gear {
    margin-bottom: 60px;
    /* background: aqua; */
}
.gear img {
  float: left;
   margin-right: 10px ;

}
.gear h1 {
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}
.gear div {
    font-size: 30px;
    display: block;
    position: relative;
    top: 20px;
    right: 80px;
    font-weight: 500;
}
nav .roundbar {
  display: flex;
}
nav .roundbar a{
    float: left;
    background:#eee;
    display: block;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    /* border: 1px solid #000; */
    border-radius: 20px ;
}

/* nav end */


  /* .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  } */
  
 /* 말풍선  */
 .message-container {
  position: relative;
  left: 80px;
  bottom: 50px;

 }
  .content .item_card div .message-container .message-box
  {
    display: inline-block;
    line-height: 30px;
    position: relative;
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
    font-size: 14px;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* border: #7F7F7F solid 2px; */
  }
  
  .message-box:after
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 17px 6px 0;
    border-color: transparent #eee;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    /* top: 5px; */
    bottom: 5px;
  }
/* 말풍선 end */


/* section */
  .content ul .item_card {
    width: 26%;
    height: 500px;
    border-radius: 30px;
    /* border: 1px solid #000; */
    /* background: orange; */
    
    margin: 10px;
    margin-left: 20px;
    float: left;
    /* padding: 10px; */

    box-shadow: 4px 4px 4px lightgray;
    position: relative; 
    overflow: hidden;
  }
  .content ul li.item_card div img {
    float: left;
    display: block;

    width: 3px;
    height: 3px;
    margin: 15px;

  }
  .item_card div:first-child {
    padding-left: 20px;
    height: 10%;
  }

  .content ul .item_card div > div{
    /* background: pink; */
    height: 15%;
    width: 200px;
  }

.item_card .small_title{
    font-size: 28px;
    font-weight: 700;
    padding-left: 25px;
    /* background: skyblue; */
    height: 25%;
    
  }

  .item_card:hover {
    box-shadow: 6px 6px 6px gray;
    position: relative;
    bottom: 8px;
    
    
  }

  .item_card .small_title >div {
    /* background: violet; */
    padding-bottom: 100px;
  }
  .item_card .small_title span{
    font-size: 13px;
    margin: 20px;
  }
 .content ul li .item_card:nth-child(3n+1){
    clear: left;
  }

  .content ul .item_card .img-box {
  
    box-sizing: border-box;
    height: 350px;
    width: 100%;
    /* border: 1px solid #000; */
    background: gray;
    position: absolute;
  }
  
  .content ul .item_card .img-box img {
      width: 100%;
      height: 100%;
      margin: 0 auto;

  }

  /* 페이지 넘김 */
 .endbox {
    position: absolute;
    top: 2500px;
    left: 40%;
    display: flex;

   
  }
  .endbox ul li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  .endbox ul li:first-child {
    font-weight: 600;
  }

  .endbox ul {
    /* background:orange; */
    position: relative;
    top: 20px;
  }
  .endbox ul li:hover {
    text-decoration: underline;
  }
.endbox button {
    /* background: orange; */
    border: 0px solid #000;
    border-radius: 20px;
    padding: 20px;

  }