@import url(../donggwan/reset.css);
body {
    margin: 5px auto;
    width: 90%;
    /* border: 1px solid #000; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif serif;
}
section {
    /* border: 1px solid red; */
}
section h1 {
    font-size: 2.5em;
    font-weight: 700;
    /* background: yellow; */
    /* border-bottom: 1px solid #eee; */
}
section .zero {
    margin: 15px 0;
    padding: 5px;
    font-size: 1.5em;
    /* background: teal; */
    margin-bottom: 80px;
}
section .label {
    font-size: 2.0em;
    font-weight: 700;
}
section .menu {
    width: 100%;
    height: 80px;
    /* border: 4px solid #000; */
    /* background: tomato; */
}
section .menu > * {
    width: fit-content;
    padding: 10px;
    background: #eee;
    border-radius: 30px;
    float: left;
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 60px;
}
/* body top menu 까지 */
section .bigbox {
    /* background: #000; */
    height: 2000px;
}
.box {
    /* padding: 24px; */
    width: 400px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 10%;
    position: relative;
    background: #fff;
    box-shadow: 4px 12px 30px 6px rgba(0,0,0,.09);
    overflow: hidden;
    float:left;
    /* margin-left: 7%; */
    margin-right: 3%;
    /* margin: 5% 18% 0% 0%; */
    margin-bottom: 5%;
}
.box:nth-child(3n +1){
    clear: left;
}

.bigbox{
    height: 240px;
    /* background: #000; */
}
.box .top {
    width: 340px;
    /* border: 1px solid red; */
    position: absolute;
    left: 25px;
    top: 30px;
}
.box .top img {
    display: block;
    float: left;
    /* border: 1px solid red; */
}
.box .top .toptitle {
    margin: 10px 5px 10px;
    padding: 3px;
    float: left;
    background: #eee;
    border-radius: 12%;
    border: 1px solid #;
}
.box .top .dot {
    display: inline-block;
    min-width: 6px;
    width: 6px;
    height: 6px;
    /* margin-left: 1px; */
    border-radius: 8px;
    line-height: 0;
    background-color: #ff5737;
    /* vertical-align: top; */
    text-indent: -9999px;
}
.box .top .text_date {
   display: inline-block;
   margin-top: 14px;
    margin-left: 5px;
    font-size: 15px;
    /* border: 1px solid #000; */
}
.box .top img:last-child{
    margin-top: 5px;
    /* margin-right: 0px; */
    display: block;
    float: right;
}
.box .title {
    height:10px;
    margin: 10px;
    width: 80%;
    height: 70px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    /* border: 1px solid yellow; */
    position: absolute;
    top: 100px;
}
.box .min {
    /* border: 1px solid #000; */
    margin-left: 8px;
    position: absolute;
    top: 190px;
}
.box .innerbox {
    width: 100%;
    height: 100%;
    margin-top: 50px; 
    /* border: 1px solid #000; */

}
   
.box .innerbox img:first-child {
   margin-top: 170px; 
   
}
